* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::before {
    content: "";
    background: url(../images/bg13.jpg) no-repeat center center/cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

.login-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: -10px auto;
    border: 2px solid black;
    background: linear-gradient(to bottom left, rgba(97, 5, 184, 0.8), rgba(253, 197, 255, 0.8));
    border-radius: 20px;
    width: 20rem;
    height: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 2px 3px 3px rgb(5, 15, 3);
    color: rgb(52, 25, 10);
}

.login-item {
    margin: 10px;
}

.login-container .main h1 {
    margin-top: 10px;
}

input {
    height: 30px;
    border: none;
    padding: 5px;
    text-align: center;
    border-radius: 20px;
}

input:focus {
    outline: none;
}
label{
    font-weight: bold;
}
.icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 15px;
    margin: auto;
    height: 50px;
    width: 50px;
    background-color: rgb(255 221 178);
    border: 1px solid black;
    border-radius: 30px;
    padding: 3px;
    overflow: auto;
    z-index: 1;
}

.icon img {
    height: 30px;
    width: 30px;
}

button {
    width: 5rem;
    height: 1.5rem;
    border-radius: 8px;
    background-color: rgb(27, 169, 27);
    color: white;
    margin: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(31, 140, 31);
}
button:focus{
    outline: none ;
}
a {
    text-decoration: none;
}