#menu {
	list-style-type: none;
	font-size: 18px;
}

#menu li {
	display: inline;
}

body {
	background: linear-gradient(to right,   #d3d9b6, #4ca1af) !important;
}
.navbar-nav li a {
    color: #7c2828 !important;
}